*{
    font-family: sans-serif;
}
button{
    border-radius: 15px;
    background-color: #53CCEC;
    size: 20px;
    line-height: 30px;
    font-size: 20px;
    padding: 10px 15px;
}

body{
    background-color:rgb(37, 37, 89);
    display:flex;
    flex-direction: column;
    align-items: center;
    

}
#header{
    background-color: #FFCC98;
    padding: 5px 15px;
    margin: 5px auto;
    border-radius: 25px;
}

.container{
    background-color:#FFF7D9 ;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: solid 2px #53CCEC;

    
    padding:10px;
    margin: 10px auto;
    width: 75%;
}
#introScoresButton{
    padding: 1px 6px;
    font-size: 14px;
}
#introText{
    margin: 20px 10px;
}

#startButton{
    display: flex;
    justify-content: center;
    
}

#quizBox{
    margin:auto
}
#question{
    margin-top: 0px;
}

#time-div{
    align-items: flex-end;
    
}

#timer{
    text-align: end;
    margin-top: 5px;
    margin-bottom: 0px;
}

ul{
   list-style-type: none;
   padding-left: 20px;
}
li{
    padding:5px 0px;
    
}

#intro{
    display: block;
}
#quiz{
    display: none;
}
#answers{
    
}
.answer{
  
    min-width: 20%;
}

#results{
    display:none;
}
#resultsButtons{
    display:flex;
    justify-content: space-evenly;

}
#scores{
    display: none;
}

